body {
  background-color: hsl(215, 91%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: aliceblue;
  margin-top: 100px;
  padding-top: 20px;
  
  width: 480px;
  

  height: auto;
  border-radius: 5px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(215, 91%, 30%);
  border-radius: 5px;
  margin-right: 10px;
  color: hsla(0, 0%, 0%, 0.5);
  margin-bottom: 50px;
}

.add {
  background-color: hsl(215, 91%, 50%);
}

.add:hover {
  background-color: hsl(215, 91%, 30%);
}

.delete {
  background-color: hsl(215, 91%, 30%);
}

.delete:hover {
  background-color: hsl(215, 91%, 50%);
}

ol {
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 50px;
  
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(178, 70%, 75%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 1%, 33%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  
}

.text {
  flex: 1;
}

button.delete {
  padding: 8px 12px;
  font-size: 1.4rem;
}
